target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.#*
.ensime_lucene
.ensime_cache
.idea/
.idea_modules/
core.pid
test_cassandra.log
test_core.log
test_query.log
*.log
*.log.*
.sbtopts
results
bench.log
tags
/data
/log
.bsp
*.iml
.bloop
.metals
.vscode
metals.sbt
tarball/data/
tarball/log/
.DS_Store
/tarball/*
/artifacts/*